<div class="bg-gray-200 p-6 min-h-[100vh] min-w-[100vw]">
    <div class="flex border gap-4 justify-center">
        <div class="bg-red-100 hover:bg-red-200 border border-red-500 p-3 rounded-lg w-fit flex items-center">
            <button type="button" (click)="logout()">Logout</button>
        </div>
        <div class="bg-white p-3 w-[400px]">
            <div class="border-b">Usuario Logado: {{ me?.name }}</div>
            <div>Permissões: {{ me?.role === 'admin' ? 'Administrador' : (me?.role === 'user' ? 'Usuario' : '')}}</div>
        </div>
        <div *ngIf="me?.role === 'admin'" 
        class="bg-orange-100 hover:bg-orange-200 border border-orange-500 p-3 rounded-lg w-fit flex items-center">
            <button type="button" (click)="seePermissions()">Permissões</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>